ion-content {
    --background: #f8f8fa;
}

.header {
    height: 206px;
    background-color: #ed1c24;
    width: 100%;
    padding-top: 1px;
}

// .header {
//     height: 110px;
//     width: 100%;
//     padding-top: 1px;
//     background-blend-mode: color-burn;
//     background-size: 10px;
// }
.header h2 {
    color: white;
    text-align: center;
    font-weight: bold;
}

.space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}

.followings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.followings p {
    color: white;
    margin: -2px 0px 0px 0px;
    font-size: 15px;
}

.img-box {
    border-radius: 50%;
    overflow: hidden;
    height: 130px;
    width: 130px;
}

.border-white {
    border: white solid 4px;
    border-radius: 50%;
    width: fit-content;
}

.border-red {
    border: 7px solid #ff5757;
    border-radius: 50%;
    width: fit-content;
}

.flex {
    display: flex;
    justify-content: center;
    margin-top: -76px;
}

// .flex {
//     display: flex;
//     justify-content: right;
//     margin-top: -30px;
//     margin-left: 20px;
//     margin-bottom: -72px;
// }
.abs {
    margin-left: 60px;
}

.ionicon {
    stroke: currentcolor;
    color: white;
}

.title {
    font-size: 15px;
}

.card {
    margin-right: 30px;
    width: 80%;
    margin-bottom: 10px;
    border-radius: 14px;
}

ion-card-content {
    .img-wrapper {
        border-radius: 14px;
        height: 140px;
        overflow: hidden;
        margin-bottom: 8px;
    }
    ion-icon {
        color: #f2994a;
        padding-right: 4px;
    }
    ion-card-subtitle:last-of-type {
        padding-top: 6px;
    }
}

#Crendential {
    margin-top: -20px;
    padding-bottom: 0px;
}

.couverture {
    min-height: 110px;
    height: 100%;
    width: 100%;
    padding-top: 1px;
    background-blend-mode: color-burn;
    background-size: cover;
}