<ion-header class="ion-no-border">
  <ion-item lines="Categories">

    <ion-label>
      <h1>Taher Robbana</h1>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <ion-header class="ion-no-border">
    <div style="background:url('../../../assets/museum.jpg'),rgb(0 0 0 / 50%);" class="couverture">
      <!-- <div style="background:url('../../../assets/{{profileImg.name}}'),rgb(0 0 0 / 50%);" class="couverture"> -->
      </div>
    <div class="flex">
      <div class="box-border">
        <div class="border-white">
          <div class="img-box">
            
            <img src="../../assets/taher.jpg">
          </div>
        </div>
      </div>
      <div class="abs">
        <br><br>
        <ion-button shape="round" routerLink="/edit-profile">Edit your profile</ion-button>
      </div>
    </div>
  </ion-header>
  <br><br><br>
  <div class="ion-padding wrapper">
    <ion-grid class="ion-no-padding">
      <ion-label>
        <br>
        <h1>Taher Robbana</h1>
        <h3>
          <ion-icon name="person-circle-outline"></ion-icon> taherrobbana
        </h3>
        <h3>
          <ion-icon name="calendar-number-outline"></ion-icon> Born September 7, 1995
        </h3>
      </ion-label>
      <ion-row class="ion-align-items-baseline">
        <ion-col size="6">
          <h4 class="title">
            My Favories
          </h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-slides [options]="sliderConfig">
          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">
                <div class="img-wrapper">
                  <ion-img src="../../assets/museum.jpg"></ion-img>
                </div>
                <ion-card-title class="title">Some Awesome Dish Title</ion-card-title>
                <ion-card-subtitle>Some description here</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">
                <div class="img-wrapper">
                  <ion-img src="../../assets/museum.jpg"></ion-img>
                </div>
                <ion-card-title class="title">Some Awesome Dish Title</ion-card-title>
                <ion-card-subtitle>Some description here</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-padding wrapper">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-baseline">
        <ion-col size="6">
          <h4 class="title">
            My Places
          </h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-slides [options]="sliderConfig">
          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">
                <div class="img-wrapper">
                  <ion-img src="../../assets/museum.jpg"></ion-img>
                </div>
                <ion-card-title class="title">Some Awesome Dish Title</ion-card-title>
                <ion-card-subtitle>Some description here</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">
                <div class="img-wrapper">
                  <ion-img src="../../assets/museum.jpg"></ion-img>
                </div>
                <ion-card-title class="title">Some Awesome Dish Title</ion-card-title>
                <ion-card-subtitle>Some description here</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <ion-button expand="block">CREATE A NEW PLACES</ion-button>
</ion-content>