ion-content {
    --background: #f8f8fa;
  }

.header {
    height: 110px;
    background:url('../../../assets/mosquee.jpg');
    width: 100%;
    padding-top: 1px;
}

.header h2 {
    color: white;
    text-align: center;
    font-weight: bold;
}

.space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}

.followings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.followings p {
    color: white;
    margin: 8px 0px 0px 0px;
}

.img-box {
    border-radius: 50%;
    overflow: hidden;
    height: 90px;
    width: 90px;
}

.border-white {
    border: white solid 3px;
    border-radius: 50%;
    width: fit-content;
}

.border-blue {
    border: 4px solid #ff3838;
    border-radius: 50%;
    width: fit-content;
}

.flex {
    display: flex;
    justify-content: right;
    margin-top: -30px;
    margin-left: 20px;
    margin-bottom: -72px;

}

.abs {
    margin-left: 60px;   
}

.ionicon {
    stroke: currentcolor;
    color: white;
}

.title {
    font-size: 15px;
  }

.card {
    margin: 0;
    margin-right: 30px;
    width: 80%;
    box-shadow: none;
    border-radius: 14px;
}

ion-card-content {
    .img-wrapper {
      border-radius: 14px;
      height: 200px;
      overflow: hidden;
      margin-bottom: 8px;
    }
  
    ion-icon {
      color: #f2994a;
      padding-right: 4px;
    }
  
    ion-card-subtitle:last-of-type {
      padding-top:6px;
    }
  
  }