<ion-header class="ion-no-border">
    <ion-item lines="Categories">


        <!-- <ion-avatar slot="end" *ngIf="canActivate()">
      <div class="border">
        <img src="../../../assets/l.png" routerLink="/menu/profile">
      </div>
    </ion-avatar> -->

        <ion-avatar slot="end" *ngIf="canActivate() || canActivatefb()">
            <div class="border">
                <div class="border_white">
                    <div class="img_box">
                        <img [src]="USER?.Avatar?.Path" routerLink="/menu/profile">
                    </div>
                </div>
            </div>
        </ion-avatar>




        <!-- <ion-avatar slot="end" *ngIf="canActivate()">
      <div class="border">
        <img src="../../../assets/l2.png" routerLink="/menu/profile">
      </div>
    </ion-avatar> -->

        <!-- <ion-avatar (click)="Logout()" slot="end" *ngIf="canActivate()">
      <img src="../../../assets/dec2.png">
    </ion-avatar> -->

        <ion-avatar (click)="Logout()" slot="end" *ngIf="canActivate() || canActivatefb()">
            <div class="border">
                <div class="border_white">
                    <img src="../../../assets/dec2.png" routerLink="/login">
                </div>
            </div>
        </ion-avatar>

        <ion-button routerLink="/login" slot="end" color="primary" *ngIf="!canActivate() && !canActivatefb()">Sign in
        </ion-button>

        <ion-label>
            <h2>Find, </h2>
            <h1 style="font-size: 23px;">Place near you !!</h1>
        </ion-label>
    </ion-item>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</ion-header>

<ion-content [fullscreen]="true">
    <div class="ion-padding wrapper">
        <ion-buttons style="padding-bottom: 10px;">
            <ion-searchbar (ionInput)="FilterSearch($event)"></ion-searchbar>
            <ion-button (click)='open()'>
                <ion-icon slot="icon-only" name="options-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <div *ngIf="isOpened">
            <ion-row>
                <ion-col size="10">
                    <form [formGroup]="credentialsForm">
                        <div class="form-group">
                            <ion-label>Category</ion-label>
                            <ion-select placeholder="Choose Category" id="sel1" okText="Ok" cancelText="Dismiss" (change)="selectChangeHandlerCat($event)" formControlName="category">
                                <ion-select-option *ngFor="let cat of this.categories" [value]="cat._id">{{cat.Name}}
                                </ion-select-option>
                            </ion-select>
                        </div>
                    </form>
                </ion-col>
                <ion-col size="2">
                    <ion-icon style="margin-top: 38px;margin-left: 20px; color: #ed1c24;" name="search" (click)='selectCat()'></ion-icon>
                </ion-col>

            </ion-row>


        </div>

        <ion-grid class="ion-no-padding">
            <ion-row class="ion-align-items-baseline">
                <ion-col size="6">
                    <h4 class="title">
                        Popular Places
                    </h4>
                </ion-col>
                <ion-col size="6">
                    <h4 class="more ion-text-end">
                        Show more
                    </h4>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>

    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col size="12">
                <ion-slides [options]="sliderConfig">

                    <ion-slide *ngFor="let place of populairePlaces">
                        <ion-card class="card">
                            <ion-card-content class="ion-text-left" (click)="selectPlace(place._id)">
                                <div class="img-wrapper">
                                    <ion-img *ngIf="place.Attachement.length>0" [src]="place.Attachement[0].Path"></ion-img>
                                </div>
                                <ion-card-title class="title">{{place.Name}}</ion-card-title>
                                <ion-card-subtitle>{{place.Description.substring(0, 145)}}...</ion-card-subtitle>
                                <app-notice [note]="place.Notice"></app-notice>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="ion-padding-horizontal wrapper">
        <ion-grid class="ion-no-padding">
            <ion-row class="ion-align-items-baseline">
                <ion-col size="6">
                    <h4 class="title">
                        Explore Categories
                    </h4>
                </ion-col>
                <ion-col size="6">
                    <h4 class="more ion-text-end" routerLink="/category">
                        Show more
                    </h4>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col size="12">
                <div class="category-slider ion-padding-start">
                    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
                        <ion-slide *ngFor="let category of this.categories">
                            <ion-col (click)="selectCategory(category._id)">
                                <h4>{{ category.Name }}</h4>
                                <img *ngIf="category?.Attachement" [src]="category?.Attachement?.Path" />
                            </ion-col>

                        </ion-slide>
                    </ion-slides>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="ion-padding-horizontal wrapper">
        <ion-grid class="ion-no-padding">
            <ion-row class="ion-align-items-baseline">
                <ion-col size="6">
                    <h4 class="title">
                        Recommended Places
                    </h4>
                </ion-col>
                <ion-col size="6">
                    <h4 class="more ion-text-end">
                        Show more
                    </h4>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col size="12">
                <ion-slides [options]="sliderConfig" style="margin-bottom: 20px;">
                    <ion-slide *ngFor="let place of recommendedPlaces">
                        <ion-card class="card">
                            <ion-card-content class="ion-text-left" (click)="selectPlace(place._id)">
                                <div class="img-wrapper">
                                    <ion-img *ngIf="place.Attachement.length>0" [src]="place.Attachement[0].Path"></ion-img>
                                </div>
                                <ion-card-title class="title">{{place.Name}}</ion-card-title>
                                <ion-card-subtitle>{{place.Description.substring(0, 150)}}...</ion-card-subtitle>
                                <app-notice [note]="place?.Notice"></app-notice>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>