ion-content {
    --background: #f8f8fa;
  }

.header {
    height: 206px;
    background-color: #ff3838;
    width: 100%;
    padding-top: 1px;
    
    
}

.header h2 {
    color: white;
    text-align: center;
    font-weight: bold;
}

.space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}

.followings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.followings p {
    color: white;
    margin: 8px 0px 0px 0px;
}

.img-box {
    border-radius: 50%;
    overflow: hidden;
    height: 130px;
    width: 130px;
}

.border-white {
    border: white solid 4px;
    border-radius: 50%;
    width: fit-content;
}

.border-red {
    border: 7px solid #ff5757;
    border-radius: 50%;
    width: fit-content;
}

.flex {
    display: flex;
    justify-content: center;
    margin-top: -76px;
}


.ionicon {
    stroke: currentcolor;
    color: white;
}

.title {
    font-size: 15px;
  }

.card {
    margin: 0;
    margin-right: 30px;
    width: 80%;
    box-shadow: none;
    border-radius: 14px;
}

ion-card-content {
    .img-wrapper {
      border-radius: 14px;
      height: 200px;
      overflow: hidden;
      margin-bottom: 8px;
    }
  
    ion-icon {
      color: #f2994a;
      padding-right: 4px;
    }
  
    ion-card-subtitle:last-of-type {
      padding-top:6px;
    }
  
  }

.i1 {
    color: white;
    position: absolute;
    top: 23%;
    left: 44%;
    font-size: 30px;
}

.i2 {
    color: white;
    position: absolute;
    top: 27%;
    left: 60%;
    font-size: 30px;
}

.i3 {
    color: white;
    position: absolute;
    top: 27%;
    left: 30%;
    font-size: 30px;
}

.couverture{
    min-height: 110px;
    height: 100%;
    width: 100%;
    padding-top: 1px;
    background-blend-mode: color-burn;
    background-size: cover;
    
}

.form-control:focus {
    border-color: #ff3838;
    box-shadow: 0 0 0 0.2rem rgba(255, 56, 56, 0.25);
    
} 

// .op {
//     width: 20%;
// }

// select:hover {
//     color: #464444;
//     background: #ddd;
//     }

//     body{
//         padding:100px 0;
//         background-color:#efefef
//       }
//       a, a:hover{
//         color:#333
//       }


//       .input-group-text {
//         width: 48px;
//         border-right: none;
//         background-color: #ffffff;
//       }
//       [class^="fa-"], [class*=" fa-"] {
//         display: inline-block;
//         width: 100%;
//       }
//       .LoginInput {
//         border-left: none;
//         position: relative;
//       }
















