<ion-content>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <div class="header">
    <ion-buttons class="space-between">
      <ion-button style="color: white;" routerLink="/menu/profile">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <div class="abs">
        <ion-button style="color: white;">
          <ion-icon slot="icon-only" name="save"></ion-icon>
        </ion-button>
      </div>
    </ion-buttons>
    <h2>{{USER?.fullname}}</h2>

    
  </div>
    <div class="flex">
      <div class="border-red">
        <div class="border-white">
          <div class="img-box">
            <ion-buttons class="i1">
              <ion-button>
                <ion-icon slot="icon-only" name="camera-outline" (click)="takePicture(USER?.Avatar._id)"></ion-icon>
              </ion-button>
            </ion-buttons>
            <div>
              <img [src]="USER?.Avatar.Path">
            </div>
          </div>
        </div>
      </div>
    

  </div>

  <!-- <ion-header class="ion-no-border">
    <div style="background:url('../../../assets/museum.jpg'),rgb(0 0 0 / 50%);" class="couverture">
    </div>
    <div class="flex">
      <div class="box-border">
        <div class="border-white">
          <ion-buttons class="i3">
            <ion-button>
              <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-buttons class="i2">
            <ion-button>
              <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <div class="img-box">
            <ion-buttons class="i1">
              <ion-button>
                <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <div>
              <img src="../../assets/taher.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-header> -->

  <div class="ion-padding wrapper">
    <ion-grid class="ion-no-padding">
      <ion-label>
        <br>
        <form>
          <div class="form-group">
            <label for="formGroupExampleInput">Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" [placeholder]="USER?.fullname">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Date of Birth</label>
            <input class="form-control" type="date" id="example-date-input" >
          </div>
        </form>
      </ion-label>
    </ion-grid>
  </div>
  <br>
</ion-content>